%p.text-right.mb-5#Uhr{:style => "font-size:300%;font-weight:bold"}

.container.border.border-white.mb-5
  .mt-3.ml-3.mr-2.mb-3
    .row
      .col_w_30.text-right
        = image_tag "#{@image}.png"
      .col_w_30.temp.text-right
        %h1.temp.text-right= "#{@temp}째C"
      .col_w_30
        %h3.text-right= "MIN: #{@min_temp}째C"
        %h3.text-right= "MAX: #{@max_temp}째C"
        %h3.text-right= "Gef. #{@feels_like}째C"

