%p.text-right.mb-5#Uhr{:style => "font-size:300%;font-weight:bold"}

.container.border.border-white.mb-5
  .mt-3.ml-3.mr-2.mb-3
    .row
      .col.text-center
        = image_tag "#{@image}.png"
      .col.temp.mt-5.text-center
        %h1.temp= "#{@temp}째C"
    .row
      .col.text-center
        %h3= "#{@min_temp}째C"
      .col.text-center
        %h3= "#{@max_temp}째C"
      .col.text-center
        %h3= "#{@feels_like}째C"

