%p.text-right.mb-5#Uhr{:style => "font-size:300%;font-weight:bold"}

%div
  %div
    .row
      .col-4.text-right
        = image_tag "#{@image}.png"
      .col-4.temp.text-right
        %h1.temp.text-right= "#{@temp}째C"
      .col-3
        %h3.text-right= "MIN: #{@min_temp}째C"
        %h3.text-right= "MAX: #{@max_temp}째C"
        %h3.text-right= "Gef. #{@feels_like}째C"
  %div
    = @word.lt
    = @word.de




