<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Spiegel" %></title>
  <script language="JScript" type="text/jscript">
    setTimeout("location.reload();",60*60000);
    var Wochentagname = new Array("Sonntag", "Montag", "Dienstag", "Mittwoch","Donnerstag", "Freitag", "Samstag");
    function ZeitAnzeigen () {
      var Jetzt = new Date();
      var Tag = Jetzt.getDate();
      var Monat = Jetzt.getMonth() + 1;
      var Jahr = Jetzt.getFullYear();
      var Stunden = Jetzt.getHours();
      var Minuten = Jetzt.getMinutes();
      var Sekunden = Jetzt.getSeconds();
      var WoTag = Jetzt.getDay();
      var Vortag = ((Tag < 10) ? "0" : "");
      var Vormon = ((Monat < 10) ? ".0" : ".");
      var Vorstd = ((Stunden < 10) ? "0" : "");
      var Vormin = ((Minuten < 10) ? ":0" : ":");
      var Vorsek = ((Sekunden < 10) ? ":0" : ":");
      var Datum = Vortag + Tag + Vormon + Monat + "." + Jahr;
      var Uhrzeit = Vorstd + Stunden + Vormin + Minuten + Vorsek + Sekunden;
      document.all.Uhr.innerHTML = Uhrzeit + "<br>" + Datum + " (" + Wochentagname[WoTag] + ")";
      window.setTimeout("ZeitAnzeigen()", 1000);
    }
</script>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "About Sharks" %>">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>

<body class="body">
<script language="JScript" type="text/jscript">
window.setTimeout("ZeitAnzeigen()", 1000);
</script>
<div class="container mt-5">
  <%= yield %>
</div>

</body>
</html>
